.nav header {
    background: rgb(36, 35, 35);
    color: rgb(229, 236, 241);
    max-width: 100%;
    padding: 0px 4rem;
    
}

.nav a, p {
    color: rgb(229, 236, 241);
}

.nav .btn {
    background: rgb(129, 22, 252);
    color: rgb(239, 243, 252);
}