.itemList {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.item {
    width: 50rem;
    height: 6rem;
}

.itemBg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(129, 22, 252);
}

.itemBg p {
    color: rgb(239, 243, 252);
    font-size: 2rem;
    font-weight: 500;
}